.App {
    text-align: center;
}

.container-fluid {
    padding: 0;
    margin: 0;
}
.leftSidebar{
    background-color: #e3e3e3;
}
.leftMenuLink{
    font-size: 28px;
    color: black;
}
.topNavbar {
    /*width: 99.5vw;*/
    height: 10vh;
    /*background-color: antiquewhite;*/
}

.appLogo {
    height: 10vmin;
    width: 10vmin;
}

.userInfo {
    height: 10vh;
    width: 10vw;
}
.userHeaders{
    margin-top: 3vh;
    margin-right: 3vw;
}
.rightPanel {
    padding: 0;

}

.infoPanel {
    height: 80vh;
    /*background-color: azure;*/
    overflow-y:auto ;
    scroll-behavior: smooth;
    display: block;
}

.logPanel{

}
.mainPanel {
    /*height: 90vh;*/
    /*width: 100vw;*/
}

.innerFooter {
    height: 8vh;
    /*background-color: beige;*/
}
.description {
    font-size: xx-small;
}
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    /*background-color: #282c34;*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
